extends layout

block content
  h1 BodaBoda Monitor
  p.lead A Bodaboda Management Information System.
  hr
  .row
    .col-md-6
      h2 Bodaboda Owners
      p We help you to get your daily returns from your rider without much hassle.
      
    .col-md-6
      h2 Bodaboda Riders
      p We help you to make your daily returns to your bike owner without much hassle.
      